<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Watson Visual Reognition</title>

	<link rel="stylesheet" href="/static/css/bootstrap.css">

 	<script src="/static/lib/jquery/jquery.min.js"></script>
	<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
</head>
<body>
	<div class="container page">
		<div id="content" class="container main" ng-view>
			<div>
				<h3>404</h3>
				<h4>Sorry, but the page you were trying to view does not exist.</h4>
			</div>
		</div>
	</div>
</body>
</html>